################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/DutyFreeOrder/bin/Release/DutyFreeOrder.vshost.exe.manifest
/DutyFreeOrder/bin/Release/DutyFreeOrder.vshost.exe.config
/DutyFreeOrder/bin/Release/DutyFreeOrder.vshost.exe

###################################################.net#########################

bin/
obj/
packages/