################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/packages
/.vs/DutyFreeOrder/DesignTimeBuild
/.vs/DutyFreeOrder/v15
/DutyFreeOrder/bin/Debug
/DutyFreeOrder/obj/Debug
/DutyFreeOrder/obj/Release
/DutyFreeOrder/bin/Release
/.vs/DutyFreeOrder/v14
